<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fareshare.maniacers.fareshare">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SeatShare" />
        <activity android:name=".SearchSeat" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".chatroom" />
        <activity
            android:name=".OptionAdapterActivity"
            android:label="@string/title_activity_option_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OptionAdapterActivity1"
            android:label="@string/title_activity_option_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Received"></activity>
    </application>

</manifest>